
h1 {
  font: normal 700 80px 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
}

h3 {
  font: bold 400 20px 'Fira Sans Extra Condensed', sans-serif;
}

h4 {
  font: italic 200 15px 'Fira Sans Extra Condensed', sans-serif;
}

p {
  font: normal 300 20px 'Fira Sans Extra Condensed', sans-serif;
  text-align: justify;
}

.panel-heading {
  font: italic 500 20px 'Fira Sans Extra Condensed', sans-serif;
}

.panel-body {
  font: 300 18px 'Fira Sans Extra Condensed', sans-serif;
}

.total {
  font: italic 300 15px 'Fira Sans Extra Condensed', sans-serif;
}
