body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font: bold 400 20px 'Fira Sans Extra Condensed', sans-serif;
}

h4 {
  font: italic 200 15px 'Fira Sans Extra Condensed', sans-serif;
}

p {
  font: normal 300 20px 'Fira Sans Extra Condensed', sans-serif;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

ol {
  line-height: 2;
}

.delivery {
  margin-top: 40px;
  padding-right: 70%;
}
.order {
  margin-top: 20px;
  margin-bottom: 30px;
}
.panel-heading {
  font: italic 500 20px 'Fira Sans Extra Condensed', sans-serif;
}

.panel-body {
  font: 300 18px 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
}


.total {
  display: none;
  font: italic 300 15px 'Fira Sans Extra Condensed', sans-serif;
}

#pizzaCrust, #pizzaSize, #pizzaSauce, #pizzaTop {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 50%;
}
#title {
  font: normal 700 80px 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
}
